h1 {
 font-weight: bold;
}
.highlight-yellow l{
    background-color: yellow;
}


.coding {
    border: 2px solid red;
}
.yellow{
    background-color: yellow;
}

.coding {
    color: red;
    border: 2px solid purple;
    width: 80%;
    box-sizing: border-box;
    padding: 5px;
}
.coding-section {
    padding: 10px;
}
h2 {
    color: red;
}
.highlight-blue {
    background-color: lightblue;
    padding: 5px;
}
.highlight-green {
    background-color: green;
    color: white;
    padding: 5px;
}
#highlight-red {
    color: red;
    padding: 5px;
}
.highlight-green-other {
    background-color: green;
    padding: 5px;
}
.blue{
    background-color: yellow;
}
.yellow{
    background-color: yellow;
}